@using TwilightImperiumRoller.Models
<div class="popout @overlayVisible glow" style="width: fit-content;">
  <div class="d-flex flex-column justify-content-evenly m-2 p-2">
    <h2>Adding Agenda</h2>
    Agenda Name:
    <RadzenAutoComplete Data="@AgendaNameSuggestions" @bind-Value="newAgenda.Name" Change="@OnAgendaNameChanged" Placeholder="Start typing an agenda name..." />
    Elect (if applicable):
    <RadzenTextBox @bind-Value="newAgenda.Elect"></RadzenTextBox>
    Effect:
    <RadzenTextBox @bind-Value="newAgenda.Effect"></RadzenTextBox>
    <RadzenButton Click="OnConfirmAgenda">Confirm</RadzenButton>
  </div>
</div>

<div class="d-flex flex-row flex-wrap gap-2">
  @foreach (Agenda agenda in GameStateModel.Agenda)
  {
    <div class="d-flex flex-column gap-1 glow  p-2" style="background:#00004480 ; max-width: 20vw; min-width:300px; height: 30vh;">
      <div class="d-flex flex-row justify-content-center" style="border-bottom: white 2px solid">
        <h2>@agenda.Name</h2>
        @if (IsAdmin)
        {
          <RadzenIcon Icon="Close" IconColor="@Colors.Warning" onclick="@(() => RemoveAgenda(agenda))"></RadzenIcon>
        }

      </div>
      @if (!string.IsNullOrWhiteSpace(agenda.Elect))
      {
        <div><strong>Elect:</strong> @agenda.Elect</div>
      }
      <div>@agenda.Effect</div>
    </div>
  }
  @if (IsAdmin)
  {
    <RadzenButton Click="@(() => OnAddAgenda())">Add Agenda</RadzenButton>
  }
</div>



