@using TwilightImperiumRoller.Models
<div class="popout @overlayVisible glow" @onclick="@HideOverlay" style="width: fit-content;">
  <div class="d-flex flex-column justify-content-evenly m-2 p-2">
    @if (rollResult != null)
    {
      <div class="d-flex flex-row justify-content-evenly">
        <div class="@(waitingForRoll == false ? "flash" : "")" style="font-size: 5em !important; color:black !important;">
          @rollResult
        </div>
      </div>
      <div class="d-flex flex-row justify-content-evenly flex-wrap w-100">
        @foreach (ShipStats item in ShipStats.Where(s => s.Results.Any()))
        {
          <div class="d-flex flex-column m-1 p-1">
            <div class="d-flex justify-content-center">
              <h3>
                @item.Name
              </h3>
            </div>
            <div class="d-inline-flex flex-wrap justify-content-center">
              @foreach (DieRoll result in item.Results)
              {
                @if (result.FinalValue == null)
                {
                  <div class="result" style="background-color: black; ">@result.DisplayValue</div>
                }
                else if (result.DisplayValue >= item.Hit)
                {
                  <div class="result flash" style="background-color: forestgreen;">@result.DisplayValue</div>
                }
                else
                {
                  <div class="result flash" style="background-color: darkred; ">@result.DisplayValue</div>
                }
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>

<div class="overlay @overlayVisible" @onclick="@HideOverlay" />

<div class="d-flex flex-column" style="margin:2em;">

  @foreach (ShipStats item in ShipStats)
  {
    <div class="d-flex flex-row p-2 m-1 glow justify-content-between" style="width:100%; background:#00004480 ;">
      <div>
        <RadzenImage Path="@item.Path" Style="height: fit-content; max-width: 100%;"></RadzenImage>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <h2>@item.Name</h2>
          <div />
        </div>
        <div class="d-flex flex-column">
          <div>
            <p>Dice amount:</p>
            <RadzenNumeric Min="0" Max="99" @bind-Value="@item.Dice" />
          </div>
          <div>
            <p>Number to hit:</p>
            <RadzenNumeric Min="1" Max="10" @bind-Value="@item.Hit" />
          </div>
        </div>
      </div>
    </div>
  }
</div>
<div class="d-flex flex-row justify-content-evenly fixed-bottom p-3">
  <div></div>
  <RadzenButton Click="RollButtonOnClick">Roll</RadzenButton>
  <div></div>
</div>

